name: Allowlist Token Webhook

on:
  repository_dispatch:
    types: ['allowlist_token']

jobs:
  allowlist-token:
    uses: ./.github/workflows/allowlist.yml
    with:
      network: ${{ github.event.client_payload.network }}
      tokenAddress: ${{ github.event.client_payload.tokenAddress }}
      tokenSymbol: ${{ github.event.client_payload.tokenSymbol }}